.collection-products {
  .toolbar {
    .btn {
      background-color: #b78566;
      border: 2px solid #b78566;
    }
    // .view-mode a span,
    // .view-mode a.active span {
    //   background-color: #b78566;
    // }
  }

  .pagination-custom {
    li {
      span,
      a {
        border-width: 2px;
        border-color: $color-accent-primary;
        &:hover {
          background-color: $color-accent-primary;
        }
      }
      &.active {
        span,
        a {
          background-color: $color-accent-primary;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
