.custom-content {
  .custom__block-heading-text,
  .custom__block-body-text {
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 25px;
  }
  .custom__block-image {
    background-color: transparent !important;
  }
}

// Our Story
.as-quote {
  border: solid 5px $color-accent-secondary;
  padding: 3em 4em;
}
