// Body
.main-content {
  float: none !important;
  padding: 0 !important;
}

// Text
.text-center {
  text-align: center !important;
}

// Buttons
.btn {
  border-radius: 0 !important;
  letter-spacing: 0.15em;

  &.top-margin {
    margin-top: 25px;
  }

  // button variants
  // &.slide-button {
  //   border-color: $color-accent-primary !important;
  //   background-color: $color-accent-primary;
  //   &:hover {
  //     background-color: transparent !important;
  //   }
  // }
}

// Silhouettes
.silhouette {
  background-repeat: no-repeat;
  background-size: contain;
}
