// Body
.main-content {
  float: none !important;
  padding: 0 !important;
}

// Text
.text-center {
  text-align: center !important;
}

// Buttons
.btn {
  border-radius: 0 !important;
  letter-spacing: 0.15em;

  &.top-margin {
    margin-top: 25px;
  }

  // button variants
  // &.slide-button {
  //   border-color: $color-accent-primary !important;
  //   background-color: $color-accent-primary;
  //   &:hover {
  //     background-color: transparent !important;
  //   }
  // }
}

// Silhouettes
.silhouette {
  background-repeat: no-repeat;
  background-size: contain;
}

.quote-dash {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    border-bottom: solid 2px $color-primary;
    left: -30px;
    top: 0.8em;
    width: 20px;
  }
}

// Underlines HEadings
.heading-underline {
  position: relative;
  margin-bottom: 50px !important;
  &::after {
    content: "";
    position: absolute;
    width: 75px;
    bottom: -25px;
    left: 0;
    border-bottom: solid 4px $color-accent-secondary;
  }
}

.divider-dash {
  &::after {
    content: "";
    // position: absolute;
    display: block;
    width: 75px;
    bottom: -25px;
    margin: 15px auto;
    /* margin-right: 20px; */
    border-bottom: solid 4px #e76222;
  }
}

.loading-modal {
  min-width: 75px;
  min-height: 75px;
  overflow: hidden;
  background-color: none;
}
