.template-index .header-type-8 .site-header,
.template-page .header-type-8 .site-header,
.template-blog .header-type-8 .site-header,
.template-article .header-type-8 .site-header {
  position: absolute;
  top: 60px;
  @include media-max-width(967px) {
    top: 0;
  }

  .sticky-wrapper {
    &:not(.is-sticky) {
      @include media-min-width(968px) {
        // Header not sticky
        .menu-tool ul li a {
          color: $color-primary;
          &.current {
            border-bottom: solid 2px #e76222;
          }
        }
        .header-search span,
        .header_currency ul select,
        .menu_bar_right i,
        .header-bar__module.cart .baskettop a.icon-cart-arrow i,
        .header_currency ul li.currency .selector-arrow::after {
          color: $color-primary;
        }
        .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
          background-color: $color-primary;
        }
      }
      @include media-max-width(967px) {
        .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
          color: $color-primary;
        }
      }
    }
    &.is-sticky {
      // Header sticky
      .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
        color: $color-primary;
      }
      .menu-tool ul li a {
        &.current {
          // border-bottom: solid 2px $color-accent-primary;
        }
      }
    }
  }

  // Mobile settings
  .menu-icon li a {
    @include media-max-width(967px) {
      padding: 12px 10px;
    }
  }
  .detail {
    @include media-max-width(967px) {
      top: -2px;
    }
  }

  .header-mobile #showLeftPush {
    color: $color-accent-primary;
  }
}

// Logo Settings
.site-header__logo {
  &.only_mobile {
    @include media-min-width(968px) {
      display: none !important;
    }
    img.normal-logo {
      max-height: 40px;
    }
  }
  &.only_desktop {
    @include media-max-width(967px) {
      display: none !important;
    }
  }
}
