.container.slider-content__container-right {
  margin-right: 0;
  max-width: 50%;
}
.container.slider-content__container-left {
  margin-left: 0;
  max-width: 50%;
}

.slide-desc-text {
  font-weight: lighter;
}
