.top-bar-type-99 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 !important;
  .t_b_99-notify_text {
    margin-left: auto;
    margin-right: auto;
  }
  .t_b_99-phone_text {
    padding: 10px 18px;
    a:hover {
      color: white !important;
    }
  }
}
