.main-content {
  float: none !important;
  padding: 0 !important;
}

.text-center {
  text-align: center !important;
}

.btn {
  border-radius: 0 !important;
  letter-spacing: 0.15em;
}
.btn.top-margin {
  margin-top: 25px;
}

.silhouette {
  background-repeat: no-repeat;
  background-size: contain;
}

.quote-dash {
  position: relative;
}
.quote-dash:before {
  content: "";
  position: absolute;
  border-bottom: solid 2px #fff;
  left: -30px;
  top: 0.8em;
  width: 20px;
}

.heading-underline {
  position: relative;
  margin-bottom: 50px !important;
}
.heading-underline::after {
  content: "";
  position: absolute;
  width: 75px;
  bottom: -25px;
  left: 0;
  border-bottom: solid 4px #e76222;
}

.divider-dash::after {
  content: "";
  display: block;
  width: 75px;
  bottom: -25px;
  margin: 15px auto;
  /* margin-right: 20px; */
  border-bottom: solid 4px #e76222;
}

.loading-modal {
  min-width: 75px;
  min-height: 75px;
  overflow: hidden;
  background-color: none;
}

.top-bar-type-99 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 !important;
}
.top-bar-type-99 .t_b_99-notify_text {
  margin-left: auto;
  margin-right: auto;
}
.top-bar-type-99 .t_b_99-phone_text {
  padding: 10px 18px;
}
.top-bar-type-99 .t_b_99-phone_text a:hover {
  color: white !important;
}

.template-index .header-type-8 .site-header,
.template-page .header-type-8 .site-header,
.template-blog .header-type-8 .site-header,
.template-article .header-type-8 .site-header {
  position: absolute;
  top: 60px;
}
@media screen and (max-width: 967px) {
  .template-index .header-type-8 .site-header,
.template-page .header-type-8 .site-header,
.template-blog .header-type-8 .site-header,
.template-article .header-type-8 .site-header {
    top: 0;
  }
}
@media screen and (min-width: 968px) {
  .template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a {
    color: #fff;
  }
  .template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a.current,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a.current,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a.current,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu-tool ul li a.current {
    border-bottom: solid 2px #e76222;
  }
  .template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-search span,
.template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul select,
.template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu_bar_right i,
.template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow i,
.template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul li.currency .selector-arrow::after,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-search span,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul select,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu_bar_right i,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow i,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul li.currency .selector-arrow::after,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-search span,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul select,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu_bar_right i,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow i,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul li.currency .selector-arrow::after,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-search span,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul select,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .menu_bar_right i,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow i,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header_currency ul li.currency .selector-arrow::after {
    color: #fff;
  }
  .template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
    background-color: #fff;
  }
}
@media screen and (max-width: 967px) {
  .template-index .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-page .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-blog .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-article .header-type-8 .site-header .sticky-wrapper:not(.is-sticky) .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
    color: #fff;
  }
}
.template-index .header-type-8 .site-header .sticky-wrapper.is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-page .header-type-8 .site-header .sticky-wrapper.is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-blog .header-type-8 .site-header .sticky-wrapper.is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,
.template-article .header-type-8 .site-header .sticky-wrapper.is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
  color: #fff;
}
@media screen and (max-width: 967px) {
  .template-index .header-type-8 .site-header .menu-icon li a,
.template-page .header-type-8 .site-header .menu-icon li a,
.template-blog .header-type-8 .site-header .menu-icon li a,
.template-article .header-type-8 .site-header .menu-icon li a {
    padding: 12px 10px;
  }
}
@media screen and (max-width: 967px) {
  .template-index .header-type-8 .site-header .detail,
.template-page .header-type-8 .site-header .detail,
.template-blog .header-type-8 .site-header .detail,
.template-article .header-type-8 .site-header .detail {
    top: -2px;
  }
}
.template-index .header-type-8 .site-header .header-mobile #showLeftPush,
.template-page .header-type-8 .site-header .header-mobile #showLeftPush,
.template-blog .header-type-8 .site-header .header-mobile #showLeftPush,
.template-article .header-type-8 .site-header .header-mobile #showLeftPush {
  color: #b78566;
}

@media screen and (min-width: 968px) {
  .site-header__logo.only_mobile {
    display: none !important;
  }
}
.site-header__logo.only_mobile img.normal-logo {
  max-height: 40px;
}
@media screen and (max-width: 967px) {
  .site-header__logo.only_desktop {
    display: none !important;
  }
}

#slidedown-cart .product-details {
  color: #b78566;
}
#slidedown-cart .total .label {
  color: #b78566;
}
#slidedown-cart .btn {
  border: solid 2px #e76222;
}
#slidedown-cart .btn:hover {
  color: #e76222;
  background-color: transparent;
  border: solid 2px #e76222;
}

.container.slider-content__container-right {
  margin-right: 0;
  padding-right: 3em;
  max-width: 50%;
}
@media screen and (max-width: 967px) {
  .container.slider-content__container-right {
    max-width: 100%;
  }
}

.container.slider-content__container-left {
  margin-left: 0;
  padding-left: 3em;
  max-width: 50%;
}
@media screen and (max-width: 967px) {
  .container.slider-content__container-left {
    max-width: 100%;
  }
}

.slide-desc-text {
  font-weight: lighter;
}

.slick-slide img {
  width: 100%;
}

.box-icons-type .container-bg {
  padding-bottom: 60px;
}
.box-icons-type .icon__wrapper-outer {
  margin: 1em 2em;
}
.box-icons-type .icon__wrapper {
  padding: 0.8em;
  max-width: 550px;
  position: relative;
  margin: 0 auto;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner {
  text-align: center;
  padding: 3em 3em;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-img {
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-img img {
  width: 100%;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-title {
  margin-top: 35px;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-text {
  margin-top: 20px;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner a.btn {
  margin-top: 18px;
}
.box-icons-type.with-image-bg .icon__wrapper-inner {
  padding-top: 10em;
}
.box-icons-type.with-image-bg .icon__wrapper-inner .icon-img {
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.custom-content .custom__block-heading-text,
.custom-content .custom__block-body-text {
  margin-bottom: 20px;
}
.custom-content .btn {
  margin-top: 25px;
}
.custom-content .custom__block-image {
  background-color: transparent !important;
}

.as-quote {
  border: solid 5px #e76222;
  padding: 3em 4em;
}

.testimonial-type-custom.testimonial-type-16 .testimonial-content {
  text-align: initial;
}
.testimonial-type-custom.testimonial-type-16 .owl-carousel .owl-item img {
  border-radius: 0;
}
.testimonial-type-custom .testimonial-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.testimonial-type-custom .testimonial-container .testimonial {
  background-color: #fff;
  width: 65%;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 1em;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .testimonial-type-custom .testimonial-container .testimonial {
    position: static;
    transform: none;
    width: 100%;
  }
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-inner {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23352922' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 2.2em 3.5em;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-inner p {
  color: #000;
  letter-spacing: 2px;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-inner p.quote-dash:before {
  border-bottom: 2px solid #000;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-inner h5 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-inner h6 {
  letter-spacing: 0.03em;
  text-align: right;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav {
  position: absolute;
  bottom: -3.5em;
  right: 0;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav.disabled {
  display: none;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-prev,
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-next {
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-prev span,
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-next span {
  font-size: 1.8em;
}
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-prev:hover,
.testimonial-type-custom .testimonial-container .testimonial .testimonial-nav .owl-next:hover {
  background-color: transparent;
  color: #e76222;
}
.testimonial-type-custom .testimonial-container .testimonial-img {
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .testimonial-type-custom .testimonial-container .testimonial-img {
    display: none;
  }
}
.testimonial-type-custom .testimonial-container .testimonial-img img {
  max-width: 400px;
}

.faqs-text p.dt-sc-toggle-accordion {
  padding-bottom: 15px;
  font-size: 1.5em;
}
.faqs-text p.dt-sc-toggle-accordion:not(.active) {
  border-bottom: 2px solid #b78566;
}
.faqs-text p.dt-sc-toggle-accordion.active, .faqs-text p.dt-sc-toggle-accordion.active p {
  background-color: transparent;
}
.faqs-text p.dt-sc-toggle-accordion a {
  color: #fff;
}
.faqs-text .dt-sc-toggle-content {
  padding-left: 0;
  border-bottom: 2px solid #b78566;
  margin-bottom: 15px;
}
.faqs-text .btn {
  margin-top: 25px;
}

.carousel.carousel-full .owl-carousel .owl-item img {
  width: 100%;
}
.carousel.carousel-full .owl-carousel .owl-prev,
.carousel.carousel-full .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  padding: 0.3em 0.8em;
}
.carousel.carousel-full .owl-carousel .owl-prev span,
.carousel.carousel-full .owl-carousel .owl-next span {
  font-size: 2em;
}
.carousel.carousel-full .owl-carousel .owl-prev {
  left: 25px;
}
.carousel.carousel-full .owl-carousel .owl-next {
  right: 25px;
}

.blog-design-4 .blogs-sub-title {
  margin-top: 0;
}
.blog-design-4 .blog-article-item {
  padding: 0 25px;
  margin-bottom: 35px;
}
.blog-design-4 .home-blog-content.blog-detail {
  padding: 10px 0;
}
.blog-design-4 .home-blog-content.blog-detail .divider {
  margin: 0;
  border: 1px solid #b78566;
}
.blog-design-4 .home-blog-content.blog-detail p {
  margin-top: 10px;
  word-break: break-all;
}
.blog-design-4 .blog-btn {
  padding: 20px 0 20px 0;
}
.blog-design-4 .blog-btn .btn__read-more {
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 1px solid #fff;
}
.blog-design-4 .blog-btn .btn__read-more:hover {
  border-color: #e76222;
}

.text-with-thumbnails .thumbs {
  margin-top: 35px;
  text-align: center;
}
.text-with-thumbnails .thumbs .thumbs-inner {
  display: inline-block;
  margin: 0 auto;
  padding: 1.5em;
  background-color: rgba(64, 45, 34, 0.5);
}
.text-with-thumbnails .thumbs .thumbs-inner img {
  max-width: 300px;
}
@media screen and (min-width: 901px) {
  .text-with-thumbnails .thumbs .thumbs-inner img:not(:last-child) {
    margin-right: 1.5em;
  }
}
@media screen and (max-width: 900px) {
  .text-with-thumbnails .thumbs .thumbs-inner img {
    margin-bottom: 1.5em;
  }
}

.cart-title {
  margin-bottom: 50px;
}
.cart-title h2 {
  margin-bottom: 25px;
}

.cart-container {
  background-color: #efdeca;
}
.cart-container .cart__header-labels,
.cart-container .cart__header-labels span {
  float: none;
}
.cart-container .cart__row {
  background-color: #efdeca;
  padding: 25px 25px;
}
.cart-container .cart__row.cart__header-labels {
  background-color: #d1c1af;
  padding-bottom: 15px;
  text-align: left;
}
.cart-container .cart__row.cart__header-labels .h4,
.cart-container .cart__row.cart__header-labels h4.cart__mini-labels {
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Playfair Display";
}
.cart-container .cart__row a:not(.btn),
.cart-container .cart__row .text-link,
.cart-container .cart__row p.shopping-checkout,
.cart-container .cart__row .h4,
.cart-container .cart__row .h5,
.cart-container .cart__row input:not(.btn) {
  font-family: inherit;
  color: #262525;
  font-size: 1.1rem;
}
.cart-container .cart__row .btn {
  border-width: 2px;
}
.cart-container .cart__row .btn:hover {
  color: #e76222;
  border-width: 2px;
}

.wide-banner-type-6.wide-banner-article .wide-banner-type-1-bock {
  background-size: cover;
  position: relative;
}
.wide-banner-type-6.wide-banner-article .wide-banner-type-1-bock:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.wide-banner-type-6.wide-banner-article .wide-banner-type-1-content {
  padding-top: 265px;
  padding-bottom: 265px;
}

.article-body-container {
  position: relative;
  top: -220px;
  background-repeat: repeat;
  padding: 15px;
  margin-bottom: 35px;
}
.article-body-container .article-body-container__inner {
  padding: 35px 10px;
}
.article-body-container .article-body-container__inner .blog-section p.desc {
  float: none;
  word-break: break-all;
}
.article-body-container .article-body-container__inner .article-social-sharing label {
  display: none;
}
.article-body-container .article-body-container__inner .article-social-sharing a {
  font-size: 1.6rem;
  line-height: 0;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #1e120e;
  margin: 0;
  border-radius: 0;
}
.article-body-container .article-body-container__inner .article-social-sharing a:not(:last-child) {
  border-right: 0;
}

.collection-products .toolbar .btn {
  background-color: #b78566;
  border: 2px solid #b78566;
}
.collection-products .pagination-custom li span,
.collection-products .pagination-custom li a {
  border-width: 2px;
  border-color: #b78566;
}
.collection-products .pagination-custom li span:hover,
.collection-products .pagination-custom li a:hover {
  background-color: #b78566;
}
.collection-products .pagination-custom li.active span,
.collection-products .pagination-custom li.active a {
  background-color: #b78566;
}
.collection-products .pagination-custom li.active span:hover,
.collection-products .pagination-custom li.active a:hover {
  background-color: transparent;
}

.related-products-container .border-title {
  float: none;
}
.related-products-container .border-title:after {
  display: none !important;
}
.related-products-container .section-header__title {
  float: none;
}

.site-footer {
  padding-bottom: 50px;
  margin-top: 30px;
  background-position: 18% center;
}
.site-footer .site-footer__links a {
  width: auto;
}
.site-footer .site-footer_social-icons {
  margin-top: 25px;
}
.site-footer .site-footer_social-icons li {
  margin-right: 20px;
}
.site-footer .site-footer_social-icons li a span {
  font-size: 22px;
}
.site-footer .site-footer_newsletter {
  margin: 25px 0;
}
.site-footer .site-footer_newsletter form.contact-form {
  float: none;
  width: 100%;
  text-align: left;
}
.site-footer .site-footer_newsletter form.contact-form input[type=email] {
  float: none;
  max-width: none;
  width: 60%;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
}
@media screen and (max-width: 750px) {
  .site-footer .site-footer_newsletter form.contact-form input[type=email] {
    width: 100%;
  }
}
.site-footer .site-footer_newsletter form.contact-form .btn {
  float: none;
  background-color: #fff;
  color: #b78566;
  border: 2px solid #fff;
  font-weight: bold;
  position: relative;
  left: -3px;
  top: -1px;
}
@media screen and (max-width: 1100px) {
  .site-footer .site-footer_newsletter form.contact-form .btn {
    width: auto;
    padding: 0 20px;
  }
}
@media screen and (max-width: 750px) {
  .site-footer .site-footer_newsletter form.contact-form .btn {
    position: static;
    margin-top: 18px;
  }
}
.site-footer .site-footer_contact {
  margin-top: 45px;
}
.site-footer .site-footer_contact .site-footer_cotact-data {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .site-footer_contact .site-footer_cotact-data li {
  margin-bottom: 18px;
}
.site-footer .site-footer_contact .site-footer_cotact-data li span {
  font-weight: bold;
}
.site-footer .site-footer_contact .site-footer_images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright.center {
  float: none;
  text-align: center;
}

.footer-vendors {
  padding: 1.5em 0;
}
.footer-vendors .title-img {
  text-align: center;
  margin-bottom: 0.6em;
}
.footer-vendors .vendors-logos {
  text-align: center;
}
