.main-content {
  float: none !important;
  padding: 0 !important;
}

.text-center {
  text-align: center !important;
}

.btn {
  border-radius: 0 !important;
  letter-spacing: 0.15em;
}
.btn.top-margin {
  margin-top: 25px;
}

.silhouette {
  background-repeat: no-repeat;
  background-size: contain;
}

.top-bar-type-99 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 !important;
}
.top-bar-type-99 .t_b_99-notify_text {
  margin-left: auto;
  margin-right: auto;
}
.top-bar-type-99 .t_b_99-phone_text {
  padding: 10px 18px;
}
.top-bar-type-99 .t_b_99-phone_text a:hover {
  color: white !important;
}

.template-index .header-type-8 .site-header {
  top: 60px;
}
@media screen and (max-width: 967px) {
  .template-index .header-type-8 .site-header {
    top: 0;
  }
}

.header-type-8 .sticky-wrapper .menu-tool ul li a {
  color: #b78566 !important;
}
.header-type-8 .sticky-wrapper .header-search span,
.header-type-8 .sticky-wrapper .header_currency ul select,
.header-type-8 .sticky-wrapper .menu_bar_right i,
.header-type-8 .sticky-wrapper .header-bar__module.cart .baskettop a.icon-cart-arrow i,
.header-type-8 .sticky-wrapper .header_currency ul li.currency .selector-arrow::after {
  color: #b78566 !important;
}
.header-type-8 .sticky-wrapper .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount {
  background-color: #b78566 !important;
  color: #fff;
}
@media screen and (max-width: 967px) {
  .header-type-8 .menu-icon li a {
    padding: 12px 10px;
  }
}
@media screen and (max-width: 967px) {
  .header-type-8 .detail {
    top: -2px;
  }
}
.header-type-8 .header-mobile #showLeftPush {
  color: #b78566;
}

@media screen and (min-width: 968px) {
  .site-header__logo.only_mobile {
    display: none !important;
  }
}
.site-header__logo.only_mobile img.normal-logo {
  max-height: 40px;
}
@media screen and (max-width: 967px) {
  .site-header__logo.only_desktop {
    display: none !important;
  }
}

.container.slider-content__container-right {
  margin-right: 0;
  padding-right: 3em;
  max-width: 50%;
}
@media screen and (max-width: 967px) {
  .container.slider-content__container-right {
    max-width: 100%;
  }
}

.container.slider-content__container-left {
  margin-left: 0;
  padding-left: 3em;
  max-width: 50%;
}
@media screen and (max-width: 967px) {
  .container.slider-content__container-left {
    max-width: 100%;
  }
}

.slide-desc-text {
  font-weight: lighter;
}

.slick-slide img {
  width: 100%;
}

.box-icons-type .container-bg {
  padding-bottom: 60px;
}
.box-icons-type .icon__wrapper {
  margin: 1em 2em;
  padding: 0.8em;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner {
  text-align: center;
  padding: 3em 3em;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-img {
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-img img {
  width: 100%;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-title {
  margin-top: 35px;
}
.box-icons-type .icon__wrapper .icon__wrapper-inner .icon-text {
  margin-top: 20px;
}

.custom-content .custom__block-heading-text,
.custom-content .custom__block-body-text {
  margin-bottom: 20px;
}
.custom-content .btn {
  margin-top: 25px;
}

.site-footer {
  padding-bottom: 50px;
  margin-top: 30px;
  background-position: 18% center;
}
.site-footer .site-footer__links a {
  width: auto;
}
.site-footer .site-footer_social-icons {
  margin-top: 25px;
}
.site-footer .site-footer_social-icons li {
  margin-right: 20px;
}
.site-footer .site-footer_social-icons li a span {
  font-size: 22px;
}
.site-footer .site-footer_newsletter {
  margin: 25px 0;
}
.site-footer .site-footer_newsletter form.contact-form {
  float: none;
  width: 100%;
  text-align: left;
}
.site-footer .site-footer_newsletter form.contact-form input[type=email] {
  float: none;
  max-width: none;
  width: 60%;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
}
@media screen and (max-width: 750px) {
  .site-footer .site-footer_newsletter form.contact-form input[type=email] {
    width: 100%;
  }
}
.site-footer .site-footer_newsletter form.contact-form .btn {
  float: none;
  background-color: #fff;
  color: #b78566;
  border: 2px solid #fff;
  font-weight: bold;
  position: relative;
  left: -3px;
  top: -1px;
}
@media screen and (max-width: 1100px) {
  .site-footer .site-footer_newsletter form.contact-form .btn {
    width: auto;
    padding: 0 20px;
  }
}
@media screen and (max-width: 750px) {
  .site-footer .site-footer_newsletter form.contact-form .btn {
    position: static;
    margin-top: 18px;
  }
}
.site-footer .site-footer_contact {
  margin-top: 45px;
}
.site-footer .site-footer_contact .site-footer_cotact-data {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .site-footer_contact .site-footer_cotact-data li {
  margin-bottom: 18px;
}
.site-footer .site-footer_contact .site-footer_cotact-data li span {
  font-weight: bold;
}
.site-footer .site-footer_contact .site-footer_images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright.center {
  float: none;
  text-align: center;
}

.footer-vendors {
  padding: 1.5em 0;
}
.footer-vendors .title-img {
  text-align: center;
  margin-bottom: 0.6em;
}
.footer-vendors .vendors-logos {
  text-align: center;
}
