
{% section 'slideshow__our-story' %}

{% section 'custom-content__our-story' %}

{% section 'slideshow-2__our-story' %}

{% section 'testimonial-type-custom__our-story' %}

{% comment %}
<div class="grid">

  <div class="grid__item">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
{% endcomment %}